[Unit]
Description=New Relic Network Agent Service
After=network.target

[Service]
EnvironmentFile=-/etc/default/network-agent.env
Type=simple
User=network-agent
WorkingDirectory=/etc/network-agent
ExecStart=/usr/bin/network-agent -listen off -mapping /etc/network-agent/config.json -geo /etc/network-agent/GeoLite2-Country.mmdb -udrs /etc/network-agent/udr.csv -api_devices /etc/network-agent/devices.json -asn /etc/network-agent/GeoLite2-ASN.mmdb -log_level info $NETWORK_AGENT_FLAGS
Restart=on-failure
RestartSec=3
## Restart on failure but wait 3 sec.

[Install]
WantedBy=multi-user.target
