## ENV VARS to set for newrelic-network-agent

## This is added to newrelic-network-agent service as any extra flags to set.
NETWORK_AGENT_FLAGS=""

## NR Specific settings.
NR_ACCOUNT_ID=""
NR_REGION=""
NEW_RELIC_API_KEY=""

### For SNMP:
# NETWORK_AGENT_FLAGS="-snmp /etc/newrelic-network-agent/snmp.yaml nr1.snmp"
#

### For Netflow:
# NETWORK_AGENT_FLAGS="-nf.source ipfix nr1.flow"
#
